<template name="ratetabs">

{{#if currentUser}}
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      Percantage of Market Value
    </div>
    <div class="col-xs-2">
      <p>
      <form>
        <select multiple id="mcatpicker">
          <option value=0>NHG</option>
          <option value=1>&lt;55%</option>
          <option value=2>&lt;65%</option>
          <option value=3>&lt;85%</option>
        </select>
      </form>
      </p>
      </div>
  </div>
</div>  
  <table class="table table-striped">
      <thead>
        <tr>
            <th>Date</th>
            <th>Variable</th>
            <th>Fixed 1 yr</th>
            <th>Fixed 5 yrs</th>
            <th>Fixed 10 yrs</th>
            <th>Fixed 15 yrs</th>
            <th>Fixed 20 yrs</th>
            <th>Fixed 30 yrs</th>                                                
        </tr>
    </thead>
    <tbody>
      {{#each rtabsOut}}
        <tr>
         {{> ratetab}}
       </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
</template>